{% include "header.tmpl" %}

  <header class="masthead" style="background-image: url('{{ url_for('static', filename='ds.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Acerca de mi.</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Mi nombre es Javier Fernandez, tengo 22 años. Soy estudiante de las carreras "Analista Programador universitario" y "Licenciatura en Sistemas" en la UNPSJB de Trelew. Actualmente me encuentro en el segundo año de las carreras</p>
        <p>Mis intereses principales son el analisis de datos y la programacion web. En cuanto a programacion web las tecnologias a las que apunto dominar son Django y React.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.tmpl" %}