<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit</title>
        <link rel="stylesheet" href='{{ url_for('static', filename='add.css')}}'>
    </head>

    <body>
        <div id="container">
            
            <div id="text-editor-buttons"> 
                <button onClick="addItem('#')">Title</button>
                <button onClick="addItem('##')">Subtitle</button>
                <button onClick="addItem('###')">3rd title</button>     
                <button onClick="addItem('**   **')">B</button> 
                <button onClick="addItem('*   *')">I</button> 
                <button onClick="addItem('>')">></button> 
                <button onClick="addItem('`   `')">Code</button> 
                <button onClick="addItem('[titulo](link)')">Link</button> 
                <button onClick="addItem('![alt text](image.jpg)')">Img</button> 
            </div>

            <form method="POST" id="createPost">
                <div>
                    <label>Titulo</label>
                    <input type="text" name="title" placeholder="Title" id="title">
                </div>
                <br>
                <div>
                    <label>Subtitulo</label>
                    <input type="text" name="subtitle" placeholder="Subtitulo" id="subtitle">
                </div>
                <br>
                <div>
                    <label>Autor</label>
                    <input type="text" name="author" placeholder="Autor" id="author">
                </div>
                <br>
    
                
                <label>Contenido</label>
    
                <textarea id="content" name="content" oninput="this.editor.update()" cols="120" rows="15"></textarea>
                <button type="submit">Añadir</button>
            </form>
            
        </div>
    
        <hr class="separador">

        <div id="preview"> </div>

    <script src=" {{url_for('static', filename='markdown.js')}}"></script>

    <script type="text/javascript">

        function addItem(x){
            var e = document.getElementById('content');
            e.value+=x;
        }
        
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        var $ = function (id) { return document.getElementById(id); };
        new Editor($("content"), $("preview"));

    </script>

    </body>

</html>
