{% include "header.tmpl" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='email.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Añadir Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Titulo</label>
              <input type="text" class="form-control" placeholder="Titulo" id="titulo" name="titulo" required data-validation-required-message="Ingrese un titulo.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Subtitulo</label>
              <input type="text" class="form-control" placeholder="Subtitulo" id="subtitulo" name="subtitulo" required data-validation-required-message="Ingrese un subtitulo.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Autor</label>
              <input type="text" class="form-control" placeholder="Autor" id="autor" name="autor" required data-validation-required-message="Ingrese un autor.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Fecha de publicaicon</label>
              <input type="text" class="form-control" placeholder="Fecha de publicacion" id="fecha_de_publicacion" name="fecha_de_publicacion" required data-validation-required-message="Ingrese una fecha de publicacion.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Contenido</label>
              <textarea rows="5" class="form-control" placeholder="Contenido" id="contenido" name="contenido" required data-validation-required-message="Ingrese el contenido del blog."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.tmpl" %}