{% include "header.tmpl" %}
  <br>
  <br>
   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>¿Te quedo alguna duda del contenido? ¿Queres contactarme? ¡Enviame un mail!</p>
        <form action="mailto:22.javier.fernandez@gmail.com" method="post" enctype="text/plain">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <input name="subject" type="text" class="form-control" placeholder="Asunto" id="subject"  required data-validation-required-message="Ingresa el asunto.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <textarea name="body" rows="5" class="form-control" placeholder="Mensaje" id="message" required data-validation-required-message="Ingresa tu mensaje"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="reset" value="Borrar todo" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.tmpl" %}