<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static', filename='icon.svg')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
    <form method="POST">
        <input type="text" name="name" id="name" placeholder="Nombre" autocomplete="off" required>

        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        
        <button type="submit">Ingresar</button>
    </form>
    
</body>
</html>