
  {% include "header.tmpl" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='inter.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.subtitle }}</h2>
            <span class="meta">Publicado por Javier Fernandez
              el {{ post.date_posted.strftime('%d' + ' de ' + '%B' ' del ' + '%Y') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.content | safe }}

          {{ post.content|markdown }}
        </div>
    </div>
  </article>

  <hr>

  {% include "footer.tmpl" %}
